.form-container {
	margin-top: 100px;
	background-color: rgba(36, 52, 115, 0.4);
	border-radius: 5px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	width: 500px;
}

.form h2 {
	color: var(--primary);
	text-align: center;
	margin: 0px 0px 20px;
	font-size: 30px;
	font-weight: 300;
}

.form {
	padding: 30px 40px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: relative;
}

.form-control label {
	color: var(--primary);
	font-size: 20px;
	font-weight: 700;
	display: block;
	margin-bottom: 5px;
}

.form-control input,
.form-control textarea {
	border: 2px solid var(--secondary);
	border-radius: 4px;
	display: block;
	width: 100%;
	padding: 15px 10px;
	font-size: 14px;
}

.form-control textarea:placeholder-shown {
	font-family: inherit;
}

.form-control input:focus,
.form-control textarea:focus {
	outline: 0;
	border-color: var(--primary);
}

.form button {
	cursor: pointer;
	background-color: var(--primary);
	border: 2px solid var(--primary);
	border-radius: 4px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 15px 10px;
	margin-top: 20px;
	width: 100%;
}