* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Header - Navigation Menu */

.navbar {
    max-width: 1300px;
    margin: 0 auto;
    height: 100px;
    background-color: #243473;
}

.navbar ul li {
    list-style: none;
    float: right;
    padding: 42px 50px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}


/* Main */

.main-container {
    max-width: 1300px;
    margin: 0 auto;
    height: 866px;
}

.slider {
    position: relative;
    height: 866px;
    background-image: url(../images/background_photo.jpg);
    opacity: 0.8;
}

.slider h1 {
    color: #fff;
    font-size: 45px;
    position: relative;
    top: 300px;
    left: 100px;
}

.slider .heading_2 {
    font-size: 35px;
    margin-left: 25px;
    margin-top: 10px;
}


/* About Me */

.bio {
    width: 30%;
    height: 603px;
    float: left;
    background-color: #949AAC;
}

.bio h1 {
    text-align: center;
    margin-top: 20px;
}

.bio p {
    margin-top: 30px;
    padding: 0 30px;
    text-align: justify;
}

.photo {
    width: 70%;
    float: left;
}

.photo img {
    width: 100%;
    position: relative;
    bottom: 3px;
}

.social-links li{
    list-style: none;
    float: left;
    padding-left: 50px;
    padding-top: 50px;
}

.illustration img {
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 10px;
}


/* Contact Form */

form {
    width: 400px;
    margin: 0 auto;
    background-color: #949AAC;
    border: 3px solid #7284A7;
}

form h2 {
    text-align: center;
    padding: 20px 0;
}

form input {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    margin-left: 20px;
}

form label {
    margin-left: 20px;
}

form textarea {
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
}

#button {
    text-align: center;

}

.btn {
    width: 100px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 10px;
    font-weight: 700;
    background-color: #243473;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #243473;
}

#top-btn a{
    text-decoration: none;
    color: #fff;
    background-color: #7284A7;
    position: relative;
    left: 1300px;
    top: 741px;
}